@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/Fonts/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/Fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
